@import '../../../../styles/constants.scss';


.disabled {
    color: $COLOR_GRAY;
    cursor: not-allowed;
    text-decoration: underline;
}

.pagination-container {
    padding: 0px 40px 40px 40px;
    text-align: center;

    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: $COLOR_BLACK;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }

    .pagination a.active {
        background-color: $PRIMARY_COLOR;
        color: $COLOR_WHITE;
        border-radius: 50%;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 50%;
    }
}