
/* COLOR CONSTANTS */
$COLOR_WHITE: white;
$COLOR_BLACK: black;
$COLOR_GRAY: gray;

$PRIMARY_COLOR: #315B5E;
$PRIMARY_COLOR_LIGHT: #B3D9DC;

$SECONDARY_COLOR: #5b402e;
$SECONDARY_COLOR_LIGHT: #decbbe;


/* FONT SIZE CONSTANTS */
$FONT_SIZE_SMALL: small;
$FONT_SIZE_MEDIUM: medium;
$FONT_SIZE_LARGE: large;
$FONT_SIZE_LARGER: larger;
$FONT_SIZE_EXTRA_LARGE: x-large;
$FONT_SIZE_EXTRA_EXTRA_LARGE: xx-large;
$FONT_SIZE_LARGEST: xxx-large;


// MEDIA SIZE CONSTANTS (mobile, tablet, desktop, large screen)
$MOBILE_MIN_SIZE: 320px;
$MOBILE_MAX_SIZE: 767px;

$TABLET_MIN_SIZE_PORTRAIT: 768px;
$TABLET_MAX_SIZE_PORTRAIT: 1199px;

$DESKTOP_MIN_SIZE: 1200px;
